form {
    height: 400px;
    display: flex;
    align-items: center;
}

h2 {
    position: absolute;
    left: 50%;
}

form select {
    width: 80%;
    text-align: center;
    
}

#identify {
    margin-top: 3rem;
}