* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background-color: rgb(126, 180, 180);
}

.chatbot {
    width: 490px;
    background-color: #fff;
    position: fixed;
    right: 40px;
    bottom: 40px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.3), 10px 0 8px 0 rgba(0,0,0,0.3);
}

.chatbot header {
    background-color: blueviolet;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.chatbot .chatbox {
    padding: 10px 20px 70px;
    height: 500px;
    overflow-y: auto;

}

.chatbot .chat {
    display: flex;
    
}

.chatbot .chat p {
    background-color: blueviolet;
    border-radius: 10px 10px 0 10px;
    padding: 10px;
    color: #fff;
}

.chatbot .income p {
    border-radius: 10px 10px 10px 0;
    background-color: rgb(167, 167, 167);
}

.chatbot .outgoing {
    margin: 10px 0;
    justify-content: flex-end;
}